production.py

# Byte-compiled
__pycache__/

# Distribution
.Python
venv/
develop-eggs/
eggs/
.eggs/
*.egg-info/
*.egg

# cx_freeze
build/
dist/

# Generated documentation
doc/_build

# PyCharm
.idea/