{% extends 'template.html' %}
{% block content %}
<div class="card text-white bg-primary">
    <h1 class="card-header">Better Weather</h1>
    <div class="card-body">
        <h5 class="card-title">Enter the desired location to get the current weather.</h5>
        <form id="bw" class="form">
            <div class="form-group form-row">
                <input id="bw_longitude" type="hidden">
                <input id="bw_latitude" type="hidden">
                <label class="sr-only" for="bw_location">Location</label>
                <div class="col-md-8">
                    <input type="text" class="form-control mb-2 mr-sm-2" id="bw_location" autocomplete="off">
                </div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-outline-info pb-2">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="triple-spinner" style="display: none"></div>
<div class="container">
    <div id="forecast" class="card border-dark mx-auto mt-2">
        <div id="forecast_header" class="card-header text-center"></div>
        <div class="card-body">
            <h3 id="bw-ttt-0" class="mx-4 text-muted d-inline no-transform"></h3>
            <h3 id="bw-wwp-0" class="mx-4 text-muted d-inline no-transform"></h3>
            <h3 id="bw-ff-0" class="mx-4 text-muted d-inline no-transform"></h3>
            <h5 id="bw-present_weather-0" class="mx-auto text-muted mt-2"></h5>
        </div>
    </div>
</div>

{% endblock %}
{% block javascript %}
<script type="text/javascript">
    $(document).ready(function() {
        window.weather = new BetterWeather('forecast');
        var engine = new PhotonAddressEngine();

        $('#bw_location').typeahead({
            hint: true,
            highlight: true,
            minLength: 3
            }, {
            source: engine.ttAdapter(),
            displayKey: 'description',
            limit: 10
        });

        engine.bindDefaultTypeaheadEvent($('#bw_location'));
        $(engine).bind('addresspicker:selected', function (event, selectedPlace) {
            $('#bw_location').val(selectedPlace.description);
            $('#bw_longitude').val(selectedPlace.geometry.coordinates[0]);
            $('#bw_latitude').val(selectedPlace.geometry.coordinates[1]);
        });

        $('#bw').submit(function(event) {
            event.preventDefault();
            $('.triple-spinner').show();
            weather.showForecast('forecast/location/' + $('#bw_latitude').val() + '/' + $('#bw_longitude').val() + '/');
        });
        {% if station %}
        weather.showForecast('forecast/station/{{ station }}/');
        {% endif %}
    });
</script>
{% endblock %}