{% extends 'template.html' %}
{% block content %}
<div class="card">
    <h1 class="card-header">Better Weather</h1>
    <div class="card-body">
        <h5 class="card-title">Enter the desired location to get a weather forecast</h5>
        <form id="bw" class="form">
            <div class="form-group form-row">
                <input id="bw_longitude" type="hidden">
                <input id="bw_latitude" type="hidden">
                <label class="sr-only" for="bw_location">Location</label>
                <div class="col-md-8">
                    <input type="text" class="form-control mb-2 mr-sm-2" id="bw_location">
                </div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-primary mb-2">Submit</button>
                </div>
            </div>
        </form>
    </div>
    <div id="forecast"></div>
</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
    $(document).ready(function() {
        var engine = new PhotonAddressEngine();

        $('#bw_location').typeahead({
            hint: true,
            highlight: true,
            minLength: 3
            }, {
            source: engine.ttAdapter(),
            displayKey: 'description',
            limit: 10
        });

        engine.bindDefaultTypeaheadEvent($('#bw_location'));
        $(engine).bind('addresspicker:selected', function (event, selectedPlace) {
            $('#bw_location').val(selectedPlace.description);
            $('#bw_longitude').val(selectedPlace.geometry.coordinates[0]);
            $('#bw_latitude').val(selectedPlace.geometry.coordinates[1]);
        });

        $('#bw').submit(function(event) {
            event.preventDefault();
            $.ajax({
                url: 'forecast/location/' + $('#bw_latitude').val() + '/' + $('#bw_longitude').val() + '/',
                method: 'GET'
            }).done(function(data, textStatus, jqXHR) {
                console.dir(data);
            }).fail(function(jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            });
        });
    });
</script>
{% endblock %}